@import url(https://fonts.googleapis.com/css?family=Inter);

$darkpurple: rgb(119, 2, 214);

body {
  background-color: rgb(210, 186, 255);
}


.card-container {
  
}

.card {
  padding: 8px;
  display: inline-flex;
  // display: inline-flex;
  // justify-content: space-between;
}

.big-image {
  width: 1245px;
  height: 622px;
}

.card-info-div {
  color: $darkpurple;
  font-family: Inter;
  padding: 10px;
}

#inspector-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#search-box {
  border-radius: 9px;
  width: 100%;
  font-size: 18px;
  padding: 8px 14px;
  border-width: 1px;
  color: white;
  background-color: $darkpurple;
  border-color:rgb(119, 2, 214)
}

#search-container {
  padding: 15px
}

::placeholder {
  color: white;
  opacity: 1;
}

