body {
  background-color: rgb(210, 186, 255);
}


.card-container {
  
}

.card {
  padding: 8px;
  display: inline-flex;
  // display: inline-flex;
  // justify-content: space-between;
}

#search-box {
  border-radius: 9px;
  width: 100%;
  font-size: 18px;
  padding: 8px 14px;
  border-width: 1px;
  color: white;
  background-color: rgb(119, 2, 214);
  border-color:rgb(119, 2, 214)
  
}

#search-container {
  padding: 15px
}

::placeholder {
  color: white;
  opacity: 1;
}